<div>
  <h1> Welcome to Movie Heroes! </h1>
  <h2> Check our movie lists </h2>
  <div class="banner" style="">
    <div class="container">
      <h1>Do you want to create a list?</h1>
      <button id="new-list" type='button' onclick="location.href='<%= new_list_path(@list) %>';"> New list </button>
    </div>
  </div>

  <div data-controller="search-movies">
    <%= form_with url: lists_path, method: :get, html: {class:
      "mb-4", data: {search_movies_target: "form"}} do |f| %>
      <%= f.text_field :query, class: "form-control", placeholder:
                      "Type a movie title", value: params[:query],
                      data: {search_movies_target: "input",
                      action: "keyup->search-movies#update"} %>
      <% end %>

    <%= render "list", lists: @lists %>
  <% if user_signed_in? %>
    <div class="middle">
      <h3> Check your lists </h3>
        <p class="list-button"> <%= link_to "your lists", dashboard_path(@pages) %></p>
    </div>
  <% end %>
</div>
