<div>
  <h1> Welcome to Movie Heroes! </h1>
  <h2> Check our movie lists </h2>
  <div class="banner" style="">
    <div class="container">
      <h1>Do you want to create a list?</h1>
      <button id="new-list" type='button' onclick="location.href='<%= new_list_path(@list) %>';"> New list </button>
    </div>
  </div>

  <div class="card-user-list">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
          <div class="mamo">
            <img src="https://image.shutterstock.com/image-vector/retro-dark-cinema-theater-hall-260nw-184141193.jpg">
            <p><%= list.name %> <%= list.genre %></p>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class="middle">
    <h3> Check your lists </h3>
      <p class="list-button"> <%= link_to "your lists", dashboard_path(@pages) %></p>
  </div>
</div>
