<p><strong><%= @list.name %> <%= @list.genre %></strong></p>
  <% @list.movies.each do |movie| %>
    <div class="list-group">
      <div>
        Title: <%= movie.title %>
      </div>
      <div>
        Release year: <%= movie.year %>
      </div>
      <div>
        Description: <%= movie.description %>
      </div>
      <div>
        <%= movie.poster_url %>
      </div>
      <div>
        Rating: <%= movie.rating %>
      </div>
    </div>
  <% end %>
